@model Astronomy.Models.Constellation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/details.css" rel="stylesheet" />
}

<!--Title-->
<header>
    <h1>@Html.DisplayFor(model => model.ConstellationName)</h1>
</header>

<!--Deatils-->

<div class="main">
    <div class="container">
        <section class="description">
            <!--Image-->
            <div class="image">
                @foreach (Astronomy.Models.ImageOfConstellation image in ViewBag.Image)
                {
                    if (image.ConstellationID == Model.ConstellationID)
                    {
                        <img src="@Url.Content(image.Image)" />
                    }

                }
            </div>
            <!--Định nghĩa hành tinh, sao chổi-->
            <article class="content">
                @Html.DisplayFor(model => model.Description)
            </article>
        </section>

        <!--Thông tin nhanh-->
        <aside class="quick">
            <!--Div này là 1 phần thông tin nhanh. VD: Khám phá-->
            <div class="quick-item">
                <div class="quick-title">
                    <h3>Khám phá</h3>
                </div>
                <div class="quick-content">
                    <p>@Html.DisplayNameFor(model => model.Abbreviation) : @Html.DisplayFor(model => model.Abbreviation)</p>
                    <br />
                    <p>@Html.DisplayNameFor(model => model.Genitive) : @Html.DisplayFor(model => model.Genitive)</p>
                    <br />
                    <p>@Html.DisplayNameFor(model => model.Symbolism) : @Html.DisplayFor(model => model.Symbolism)</p>
                    <br />
                    <p>@Html.DisplayNameFor(model => model.Declination) : @Html.DisplayFor(model => model.Declination)</p>
                    <br />
                    <p>@Html.DisplayNameFor(model => model.Area) : @Html.DisplayFor(model => model.Area)</p>
                    <br />
                    <p>@Html.DisplayNameFor(model => model.MainStar) : @Html.DisplayFor(model => model.MainStar)</p>
                    <br />
                    <p>@Html.DisplayNameFor(model => model.Meteor) : @Html.DisplayFor(model => model.Meteor)</p>
                    <br />
                </div>
            </div>
        </aside>
    </div>
</div>
<!--Feedback-->
<div class="feedback">
    <div class="feedback-container">

        <div class="feedback-title">
            <h2>Feedback</h2>
        </div>
        <div>
            <form action="@Url.Action("AddFeedback", "Constellations")" method="post" id="feedback">
                <input type="hidden" name="ConstellationID" value="@Model.ConstellationID" />
                <input type="hidden" name="Date" value="@DateTime.Now" />
                <input type="hidden" name="Status" value="true" />

                <div class="form-group">
                    <div class="name">
                        <label>Name: </label>
                        <input type="text" name="Name" placeholder="Name" required />
                    </div>
                    <div class="email">
                        <label>Email: </label>
                        <input type="email" name="Email" placeholder="Email" required />
                    </div>
                </div>

                <div class="des">
                    Description:
                    <textarea form="feedback" name="Description" rows="4" cols="450"></textarea>
                </div>
                <button type="submit">submit</button>
            </form>
        </div>
        <div class="feedback-content">
            @foreach (Astronomy.Models.FeedbacktoConstellation item in ViewBag.feedback)
            {
                <h4>@item.Name</h4>
                <p>@item.Date</p>
                <p>@item.Description</p>
            }
        </div>
    </div>
</div>

<!--link-->
@{
    int i = 0;
}
<div class="link">
    <div class="link-container">
        <!--Tiêu đề tin tức-->
        @foreach (Astronomy.Models.Constellation item in ViewBag.link)
        {
            i++;
            if (i == 3)
            {
                break;
            }
            <div class="link-item">
                <!--Ảnh-->
                <div class="link-img">
                    @foreach (Astronomy.Models.ImageOfConstellation image in ViewBag.Image)
                    {
                        if (image.ConstellationID == item.ConstellationID)
                        {
                            <img src="@Url.Content(image.Image)" />
                            break;
                        }

                    }
                </div>
                <!--Tiêu đề-->
                <div class="link-title">
                    <h3>@Html.DisplayFor(modelItem => item.ConstellationName)</h3>
                    @Html.ActionLink("Fact ->", "Details", new { id = item.ConstellationID })
                </div>
            </div>
        }
    </div>
</div>