

@{
    ViewBag.Title = "Contact_us";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" type="text/css" href="~/Content/contact.css">
}

<div class="container">
    <div class="container-fluid">
        <!--Image-->
        <div class="Image">
            <img src="https://media.istockphoto.com/id/1365544413/video/contact-us-concept.jpg?s=640x640&k=20&c=a6o5RVk_pVTjL_YXzFQYSa76PahdhH7OLCLdv3iel_I=" />
        </div>

        <div class="container-midle">
            <div class="content">
                <p>Hi! Thank you for visiting our website and for your interest in Sky Gazing! We would very much welcome your comments and suggestions. Please feel free to get in touch!</p>
                <br />
                <h2>General enquiries</h2>
                <br />
                <p>
                    Please email
                    <a class="email" href="mailto:tung.nh.839@aptechlearning.edu.vn">team@skygazing.com</a>
                    and we will get back to you. Alternatively post a message on our Facebook page or send us a tweet.
                </p>
                <br />
                <h2>Listing your stargazing events</h2>
                <p>
                    We would be delighted to list your stargazing event. The only requirement we ask is that your event is open to the public and includes an opportunity to stargaze if weather permits. Simply send an email to
                    <a class="email" href="mailto:tung.nh.839@aptechlearning.edu.vn">event@skygazing.com</a>
                    including the full website address which details your event(s) and we will action promptly.
                </p>
                <br />
                <h2>Stargazing experience vouchers</h2>
                <br />
                <p>
                    Whilst we feature the events of numerous voucher providers, Sky Gazing is not responsible for delivering those events. We’re pleased though to put you in touch with the relevant contact. Please email your voucher product code to
                    <a class="email" href="mailto:tung.nh.839@aptechlearning.edu.vn">team@skygazing.com</a>
                    and we will get back to you.
                </p>
                <br />
                <h2>About us</h2>
                <br />
                <p>Sky Gazing is formed of a close-knit group of astronomers, all of whom are keen to encourage public interest in astronomy to as wide an audience as possible.</p>
                <br />
                <p>Our team is largely based around a number of former volunteers of Kielder Observatory. Between us, we assisted in running thousands of public stargazing events at the venue and our efforts, alongside the efforts of numerous other volunteers, helped lay the foundations for the success that the observatory enjoys today.</p>
                <br />
                <h2>Our experience</h2>
                <br />
                <p>Our team has a diverse range of skills and experience, including professional and amateur astronomers, science communicators, instrument scientists, award-winning astrophotographers, professors and dark sky consultants.</p>
                <br />
                <p>We have a wealth of experience running public outreach events. We are keen to offer advice on issues of light pollution and dark sky conservation. We can also assist businesses and organisations develop and grow their Astro-tourism potential.</p>
                <br />
                <h2>Our aim</h2>
                <br />
                <p>
                    Our aim is to enthuse public interest in astronomy by helping people find amazing stargazing locations and attend awesome stargazing events!
                    We are enthusiastic in our support of the wider astronomical community and are happy to promote the activities of societies, clubs, observatories, and independent astronomers to all of our audiences.
                </p>
                <br />
                <h2>Not for profit</h2>
                <br />
                <p>
                    Sky Gazing is an extension of our astronomy hobby and is run not-for-profit.
                    We have registered a limited company with Companies House, Sky Gazing Limited, to keep income and expenses separate from personal finances.
                </p>
                <br />
                <p>Hosting a popular website portal costs money… Have you noticed there are no banner adverts on our site!? The small amounts of commission we earn from telescope sales, stargazing vouchers and featured accommodation helps towards our costs.</p>
                <br />
                <p>We do not receive local authority grants, tourism grants, business grants, government grants, charitable grants, lottery money, culture funding, gift aid, or donations. We are not, and never will be a faux charity.</p>
                <br />
                <h2>Personal data</h2>
                <br />
                <p>We take the storage of personal data extremely seriously. We will never share your details, including your email address, with any third parties — ever! For more details as to how we use personal data please see our privacy policy.</p>
                <br />
                <h2>Clear skies!</h2>
            </div>
            <div class="link">
                <div class="link-item">
                    <a href="@Url.Action("WhenGazing","Home")"><h3>When is best to stargaze?</h3></a>
                    <a href="@Url.Action("WhenGazing","Home")"><img src="https://localhost:44317/Image/tips_image1.jpg" /></a>
                    <p>Here we share hints and tips on making your stargazing trip worthwhile and help you choose when is the best time to go stargazing.</p>
                </div>

                <div class="link-item">
                    <a href="@Url.Action("WhereGazing","Home")"><h3>Where is best to stargaze?</h3></a>
                    <a href="@Url.Action("WhereGazing","Home")"><img src="https://www.jetsetter.com//uploads/sites/7/2018/04/hmDhnKuI.jpeg" /></a>
                    <p>There are a couple of things to consider when deciding where to stargaze from and this mainly depends on what you are hoping to see.</p>
                </div>

                <div class="link-item">
                    <a href="@Url.Action("WhatSeeGazing","Home")"><h3>What can you expect to see?</h3></a>
                    <a href=""><img src="https://localhost:44317/Image/tips_image3.jpg" /></a>
                    <p>There are many incredible sights to behold when you go stargazing.</p>
                </div>

            </div>
        </div>
    </div>
</div>

